*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: R01;
    src: url('fonts/roboto/Roboto-01.ttf') 
  }

  @font-face {
    font-family: R03;
    src: url('fonts/roboto/Roboto-03.ttf') 
  }

  @font-face {
    font-family: R05;
    src: url('fonts/roboto/Roboto-05.ttf') 
  }

  :root {
    --cor-1: #2D2439;
    --cor-2: white;
    --cor-3:#261E2E;
    --cor-4:#a64dc9;
    --cor-5:#442068;
    --cor-6:#b6b3b3d5;
}

#cpf_capa{
    height: 20vh;
    background: linear-gradient(to bottom right, var(--cor-1), var(--cor-5));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-2);
    font-family: R05;
    font-size: 2rem;
}

#consulta{
    display: flex;
    justify-content: center;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 2%;
    margin: 2%;
    outline: none;
    border: 2px solid var(--cor-6);
}

form input:focus{
    border: 2px solid var(--cor-1);
}

#pesquisar{
        background: linear-gradient(to bottom right, var(--cor-4), var(--cor-5));
        color: white;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        font-family: R05;
        padding: 3% 2% 3% 2%;
}