:root {
    --cor-4: #7C55FB;
    --cor-5: #6831A0;
}

#principal {
    background-color: #16212E;
    display: flex;
    justify-content: end;
}

#container {
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

#container a {
    width: 30%;
    display: flex;
    margin: 0.3%;
}

.consultas {
    width: 100%;
    background:var(--cor-1);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.8fr;
    grid-template-rows: 1.1fr 0.9fr;
    grid-template-areas:
        " a1 a2"
        " a1 a3"
        " a1 .";
    padding: 10%;
    margin: 1%;
    box-shadow: -4px 0px 13px 13px rgba(117, 117, 117, 0.048);
}

.consultas img {
    width: 40%;
    grid-area: a1;
    background: linear-gradient(to bottom right, var(--cor-4), var(--cor-5));
    padding: 10%;
    border-radius: 5px;
}

.consultas h5 {
    width: 25%;
    text-align: center;
    background: linear-gradient(to bottom right, var(--cor-4), var(--cor-5));
    border-radius: 5px;
    padding: 2%;
    grid-area: a2;
    font-family: R01;
}

.consultas h6 {
    grid-area: a3;
    display: flex;
    align-items: center;
    font-family: R01;
}

.on {
    padding: 7px 7px 1px 1px;
    border-radius: 50px;
    background-color: green;
    margin-right: 2%;
}

.off {
    padding: 7px 7px 1px 1px;
    border-radius: 50px;
    background-color: red;
    margin-right: 2%;
}

@media screen and (max-width: 1050px) {
    #container {
        width: 100%;
        margin-top: 8vh;
    }
    #container a {
        width: 80%;
        margin: 2%;
    }
    .consultas h5 {
        padding: 3% 15% 3% 15%;
        border-radius: 3px;
    }
    .consultas img {
        width: 50%;
    }
}