*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: R01;
    src: url('fonts/roboto/Roboto-01.ttf') 
  }

  @font-face {
    font-family: R03;
    src: url('fonts/roboto/Roboto-03.ttf') 
  }

  @font-face {
    font-family: R05;
    src: url('fonts/roboto/Roboto-05.ttf') 
  }

  :root {
    --cor-1: #2D2439;
    --cor-2: white;
    --cor-3:#261E2E;
    --cor-4:#a64dc9;
    --cor-5:#442068;
    --cor-6:#b6b3b3d5;
}

#content{
    background-color: var(--cor-1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#content img{
    width: 30%;
    margin-left: 35%;
    margin-bottom:10% ;
}
form{
    width: 23%;
    background-color: var(--cor-3);
    color: var(--cor-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 4% 5% 4%;
    border-radius: 5px;
    font-family: R03;
}

form input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--cor-1);
    border-radius: 3px;
    padding: 2%;
    margin: 2%;
    outline: none;
    color: var(--cor-2);
}

form input:focus{
    border: 2px solid var(--cor-6);
}
#content h5{
    color: var(--cor-6);
    font-family: R03;
    padding: 2%;
}
#content h5 a{
    color: VAR(--cor-4);
    text-decoration: none;
}
#enviar{
    background: linear-gradient(to bottom right, var(--cor-4), var(--cor-5));
    color: white;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: R05;
    padding: 3% 2% 3% 2%;
}

#mensagem{
    position: absolute;
    padding: 2% 4% 2% 4%;
    background-color: var(--cor-3);
    border-left: 3px solid var(--cor-4);
    color: var(--cor-2);
    top: 3%;
    right: 0;
    transition: 0.6s;
    font-family: R03;
}

@media screen and (max-width: 1050px) {
    form{
        width: 80%;
    }
    form input{
        width: 90%;
    }
    #mensagem{
        padding: 3% 4% 3% 4%;
        font-family: 0.1rem;
    }
}