*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #762FCF;
    background-image: url('../img/roxo.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}

/***menu***/
@font-face {
    font-family: R01;
    src: url(../fonts/roboto/Roboto-01.ttf);
}

@font-face {
    font-family: op;
    src: url(../fonts/opensans/static/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: R03;
    src: url(../fonts/roboto/Roboto-03.ttf);
}
@font-face {
    font-family: R05;
    src: url(../fonts/roboto/Roboto-05.ttf);
}

@font-face {
    font-family: RUS;
    src: url(../fonts/RussoOne-Regular.ttf);
}

@font-face {
    font-family: RLW;
    src: url(../fonts/releway/static/Raleway-Thin.ttf);
}

ul{ 
    background-color: rgba(114, 83, 185, 0);
    list-style: none;
    display: flex;
    flex-direction:row;
    transition: 0.7s;
    /*box-shadow: 2px 2px 2px rgba(250, 250, 250, 0.26);*/
    position: fixed;
    top: 0;
    z-index: 9;
}

li{
    font-family:R05;
    padding: 5px;
    margin-left: 70px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 1.3vw;
}

li:hover{
    color: #FFBD59;
}
/*coloco os 2 icones com o display none. o ||| e X*/
#icon-burgue{
    display: none;
}
#icon-x{
    display: none;
    font-family: R05;
}
.logo{
    width: 4%;
    height: 4%;
    margin: 2.2%;
    align-self:flex-end;
}

@media screen and (max-width:800px) {
    nav{
        background-color: rgba(57, 26, 107, 0.027);
        height: 55px;
        top: 0;
        position: fixed;
        background-color: #5271FF;
        width: 100%;
    }
    /*modifico o ul e outros para se adequar ao mobile*/
    ul{
        /*background-color: rgb(57, 26, 107);*/
        background-image: url("../img/roxo.png");
        height: 100%;
        position: fixed;
        width: 100%;
        flex-direction:column;
        text-align: center;
        justify-content:flex-start;
        transition: 1s;
        right:100%;
        overflow: scroll;
    }

    li{
        padding: 5%;
        font-size: 19px;
        margin-left: 0;
        margin-top: 0;
    }
    #icon-burgue{
        display: block;
        color: white;
        font-size: 30px;
        padding: 11px;
    }
    #icon-x{
        color: white;
        font-size: 30px;
        padding: 0;
        z-index: 9;
        margin-left: 1%;
        margin-top: 4%;
    }
    .logo{
        width: 60%;
        height: auto;
        margin-right: 18.5%;
    }
}
/*SECTION-1*/
/*capa-1*/

#section-1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 15%;
} 

#capa-1{
    background-color: #a7a7a700;
    width: 49%;
    text-align: center;
    animation: bemvindo 2s;
    margin-top: 0%;
}

@keyframes bemvindo {
    from{
        margin-top: -20%;
    }
    
}

#capa-1 h2{
    font-family: RUS;
    color: white;
    font-size: 9vw;
}
#capa-1 h3{
    font-family: RUS;
    color: #FFBD59;
    font-size: 9vw;
}
#contatos-btn{
    background-color: #F44926;
    color: white;
    font-family: R05;
    font-size: 18px;
    border: none;
    padding: 12px;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.301)1px 5px  ; 
    margin-top: 5%;
    cursor: pointer;
}
#contatos-btn:active{
    box-shadow: rgba(0, 0, 0, 0.301)5px 1px  5px  ; 
}
/*capa-2*/
#capa-2{
    width: 49%;
    margin-top: -9%;
    margin-left: 6%;
    background-color: rgba(255, 0, 0, 0);
}
#img-capa-2{
    width: 90%;
}
@media screen and (max-width:800px) {
    #section-1{
        flex-direction: column;
        margin-top: 80px;
    }

    #capa-1{
        width: 100%;
    }

    #capa-1 h2 {
        font-size: 18vw;
    }

    #capa-1 h3 {
        font-size: 14vw;
    }

    #capa-2{
        width: 100%;
        margin-top: 20%;
        margin-left: 0;
    }

    #img-capa-2{
        margin-left: 15%;
        width: 70%;
    }
}

/***section 2****/
#section-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#subcapa-1{
    margin-top:7%;
    width: 30%;
    background-color: rgba(255, 0, 0, 0);
}

#subcapa-1 img{
    width: 80%;
    animation: gira 5s infinite ;
    margin-left: 4%;
}

@keyframes gira {
    0%,100%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
}

#subcapa-2{
    margin-top: 11%;
    margin-left: 12%;
    width: 68%;
    letter-spacing: 1px;
    text-align: left;
    background-color: rgba(0, 0, 255, 0);
}

#subcapa-2 h6{
    font-size:1.3vw ;
    width: 80%;
    border-radius: 7px;
    color:black ;
    font-family: R01;
}

#subcapa-2 div h2{
    color: #5271FF;
    font-family: RUS;
    margin-bottom: 2%;
}

@media screen and (max-width:800px) {
    #subcapa-1{
        display: none;
    }
    #subcapa-2{
        width: 90%;
        margin-left: 1%;
        margin-bottom: 7%;
        text-align: center;
    }

    #subcapa-2 h6{
        font-size: 5vw;
        width: 100%;
    }
}

#section-3{
    /*background-image: url("../img/amarelo.png");*/
    background-color: #5271FF;
    display: grid;
    grid-template-areas: "a1 a1 a1 a1 a1 a1"
                        "a2 a2 a3 a3 a4 a4"
    ;
    gap: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-project{
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.541);
    background-color: white;
    margin: 7%;
    margin-top: 20%;
    margin-bottom: 15%;
    min-width: 50%;
}

#sub-2:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.589);
}
#sub-3:hover{
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.808);
}
#sub-4:hover{
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.808);
}


.card-project img{
    width: 50%;
    margin-top: -30%;
    margin-left: 25%;

}

.card-project h5{
    color: #f44826;
    font-family: R05;
    font-size: 1.5vw;
    margin-top: 3%;
}

.card-project h6{
    color: #1a1a1a;
    font-family: R01;
    font-size: 1.4vw;
    margin-top: 3%;
}

#sub-1{
    grid-area: a1;
    margin: 2%;
    font-family: R05;
    font-size: 3vw;
    color: #ffff;
    margin-top: 5%;
    letter-spacing: 0px;
}
#sub-1 h5{
    font-family: Rlw;
    font-size:1.7vw ;
    color: white;
}

#sub-2{
    grid-area: a2;
    transition: 0.6s;
}

#sub-3{
    grid-area: a3;
    transition: 0.6s;
}

#sub-4{
    grid-area: a4;
    transition: 0.6s;
}

#ver{
    border: 2px solid #f44826;
    border-radius: 5px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    cursor: pointer;
    background-color: #F44926;
    color: white;
    font-family: R05;
    font-size: 1.1vw;
    margin-left: 41.5%;
    transition: 0.6s;
    margin-top: 10%;
}

#ver:hover{
    background-color: white;
    border: 2px solid #F44926;
    color: black;
}
@media screen and (max-width:800px) {
    #section-3{
        grid-template-areas: "a1 a1 a1 a1 a1 a1"
                             "a2 a2 a2 a2 a2 a2"        
                             "a3 a3 a3 a3 a3 a3"  
                             "a4 a4 a4 a4 a4 a4"         
        
        ;
        padding-bottom: 30%;
    }

    #sub-1{
        font-size: 7vw;
        text-align: center;
        margin-top: 20%;
    }
    #sub-1 h5{
        font-size: 6vw;
        font-family: RLW;
    }

    .card-project h5{
        font-size: 6vw;
        text-align: center;
    }

    .card-project h6{
        font-size: 5vw;
        text-align: center;
    }
    #ver{
        font-size: 4.5vw;
    }
}

/***section-4****/
#section-4{
    display: grid;
    grid-template-areas: "sk1 sk1 sk1 sk1 sk1 sk1"
                         "sk2 sk2 sk2 sk2 sk2 sk2"
                         "sk3 sk3 sk3 sk3 sk3 sk3"
    ;
    background-color: white;
    padding-bottom: 3%;
}

#skills-1{
    grid-area: sk1;
    font-family: RUS;
    color: #4362F1;
    font-size: 5vw;
    margin: 5% 0% 0% 5%;
}

#skills-2{
    grid-area: sk2;
    margin: 4% 0% 0% 5%;
}

#skills-2 img{
    width: 10%;
    transition: 1s;
}

#skills-2 img:hover{
    margin-left: 3%;
}

#skills-3{
    grid-area: sk3;
    margin: 4% 0% 0% 5%;
}

#skills-3 h3{
    color: black;
    font-family: R03;
    font-size: 1.7vw;
}

#skills-3 h5{
    color: black;
    font-family: Rlw;
    font-size: 1.7vw;
}

@media screen and (max-width:800px) {
    #section-4{
        padding-bottom: 10%;
    }
    #skills-1{
        font-size: 11vw;
        text-align: center;
    }

    #skills-2 img{
        width: 40%;
        transition: 1s;
        margin-left: 5%;
    }
    
    #skills-2 img:hover{
        margin-left: none;
    }

    #skills-3{
        margin: 1%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #skills-3 h3{
        font-size: 7vw;
        text-align: center;
        margin: 0;
    }

    #skills-3 h5{
        font-size: 5vw;
        text-align: center;
        margin: 0;
    }
}

/***section 5***/
#contatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    text-align: center;
    font-size: 3vw;
    background-color:white ;
    padding-top: 3%;
    padding-bottom: 3%;
}
.contatos-1 i{
    color: #F44926;
}

footer{
    background-color: #4362F1;
    color: white;
    font-family: R03;
    font-size: 1.5vw;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width:800px) {
    #contatos{
        font-size: 9vw;
        gap: 4%;
        padding-top:5% ;
        padding-bottom: 5%;
    }
    footer{
        font-size: 5vw;
    }
}